certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
colorlog==4.0.2
docopt==0.6.2
filetype==1.0.5
har2case==0.3.1
httprunner==2.3.2
idna==2.8
Jinja2==2.10.3
jsonpath==0.82
MarkupSafe==1.1.1
pipreqs==0.4.10
PyYAML==5.1.2
requests==2.22.0
requests-toolbelt==0.9.1
selenium==3.141.0
urllib3==1.25.7
yarg==0.1.9
